body{
    background-color: rgb(229, 244, 249);
}

#fullname{
    font-family: Algerian;
}
h1{
    font-size:28vh;
}

#postion{
    font-size:18vh;
}

.summary{
    font-size:16vh;
}

h2{
    color:#2F5A78;
    font-size:20vh;
}

body {
  font-family: Arial;
}
#position {
  font-size: 18vh;
  font-weight: bold;
}

#imgpic{
    border-radius: 100%;
}

h1 {
  font-size: 28vh;
  text-transform: uppercase;
}
.summary {
  font-size: 16vh;
  line-height: 20vh;
}
header {
  text-align: center;
}
#copyright {
  text-align: center;
}

section, footer {
  padding: 2vh 10vh;
}
ul {
  margin: 0px;
}


h2 {
  color: #2F5A78;
  font-size: 20vh;
  padding-bottom: 2vh;
  border-bottom: 1vh solid #2F5A78;
} 


header {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

footer{
    background-color:#eeeeee;
}

li b {
  color: #2F5A78;
}
li {
  margin-bottom: 5vh;
} 

footer a {
  color: #e99f4b;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}


table { 
  border-collapse: collapse; 
} 
td, th { 
  border:1vh solid #000000; 
  padding: 5vh;
} 
th { 
  background-color: #2F5A78; 
  color: #FFFFFF;
}

input[type='text'], input[type='email'] {
  border: 1vh solid #2F5A78;
  width: 150vh;
  padding: 5vh;
  margin-bottom: 5vh;
}
textarea {
  border: 1vh solid #2F5A78;
  width: 203vh;
  padding: 5vh;
  margin-bottom: 5vh;
}
label {
  font-weight: bold;
  color: #2F5A78;
}
input[type='submit'] {
  background-color: #2F5A78;
  border: none;
  border-radius: 7vh;
  padding: 7vh 15vh;
  font-weight: bold;
  color: white;
  margin-bottom: 7vh;
}

body {
  font-family: Arial;
  margin-top: 100px;
}
header {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 2px;
  padding-bottom: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
} 
.summary img {
  float: right;
}

.summary img {
  float: right;
}
.summary img:hover {
  transition: transform 1s ease; 
  transform: scale(1.3);
}
